html {
  .bg-success {
    color: white !important;
  }
}

.v-row + .v-row {
  margin-top: 0px;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul:not(.v-breadcrumbs) {
  padding-inline-start: 0;
}

.v-avatar {
  border-color: inherit;
}

.v-divider {
  opacity: 1;
  border-color: rgba(var(--v-theme-borderLight), 0.36);
}

.v-selection-control {
  flex: unset;
}

.customizer-btn .icon {
  animation: progress-circular-rotate 1.4s linear infinite;
  transform-origin: center center;
  transition: all 0.2s ease-in-out;
}

.no-spacer {
  .v-list-item__spacer {
    display: none !important;
  }
}

@keyframes progress-circular-rotate {
  100% {
    transform: rotate(270deg);
  }
}

@layer vuetify-core {
  h1 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-block: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-block: 0;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    margin-block: 0;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-block: 0;
  }

  h5 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-block: 0;
  }

  h6 {
    font-size: 0.75rem;
    font-weight: 500;
    margin-block: 0;
  }

  p {
    margin-block-start: 0;
  }
}

@layer vuetify-components {

  .v-menu>.v-overlay__content>.v-card,
  .v-menu>.v-overlay__content>.v-sheet,
  .v-menu>.v-overlay__content>.v-list {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
}

// apexchart css
.apexcharts-canvas {
  &:focus-visible {
    outline: none !important;
  }

  svg {
    &:focus {
      outline: none !important;
    }

    .apexcharts-keyboard-focused {
      stroke-width: 0;
    }
  }

  .apexcharts-svg {
    background: transparent !important;
  }
  .apexcharts-tooltip-rangebar {
    padding: 0px 8px 5px;
  }
  .apexcharts-tooltip-title {
    margin-bottom: 0;
  }
  .apexcharts-tooltip-marker {
    margin-top: -7px;
  }
  .apexcharts-tooltip {
    &.apexcharts-theme-light {
      color: rgb(var(--v-theme-darkText));
    }
  }
  .apexcharts-tooltip-series-group {
    &.apexcharts-active,
    &:last-child {
      padding-bottom: 0;
    }
  }
  .apexcharts-menu {
    .apexcharts-menu-item {
      &:hover {
        background: rgb(var(--v-theme-gray100));
      }
    }
  }
}
