@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;

@use "./grid/grid-breakpoints" as *;

// Global font size and border radius
$border-radius-root: 12px;
$body-font-family: 'Roboto', sans-serif !default;
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;

// Custom Variables
// colors
$white: #fff !default;

// Global Shadow
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);

// Vuetify overrides
@use 'vuetify/styles' with (
  $grid-breakpoints: $custom-grid-breakpoints,
  // This will false all colors which is not necessory for theme
  $color-pack: false,

  // global font family
  $body-font-family: $body-font-family,
  $heading-font-family: $body-font-family,

  // Global Radius as per breakeven point
  $rounded: (
      (
        0: 0,
        'sm': $border-radius-root * calc(2/3),
        null: $border-radius-root,
        'md': $border-radius-root * 1,
        'lg': $border-radius-root * 2,
        'xl': $border-radius-root * 6,
        'pill': 9999px,
        'circle': 50%,
        'shaped': $border-radius-root * 6 0
      )
    ),

  // Global Typography
  $font-size-root: 1rem,
  $typography: ('display-large': ('size': 2.125rem,
      'weight': 700,
      'line-height': 3.5rem,
      'letter-spacing': normal,
      'font-family': inherit),
    'display-medium': ('size': 1.5rem,
      'weight': 700,
      'line-height': 2.5rem,
      'letter-spacing': normal,
      'font-family': inherit),
    'display-small': ('size': 1.25rem,
      'weight': 600,
      'line-height': 2rem,
      'letter-spacing': normal,
      'font-family': inherit),
    'headline-large': ('size': 1rem,
      'weight': 600,
      'line-height': 1.5rem,
      'letter-spacing': normal,
      'font-family': inherit),
    'headline-medium': ('size': 0.875rem,
      'weight': 500,
      'line-height': 1.2rem,
      'letter-spacing': normal,
      'font-family': inherit),
    'headline-small': ('size': 0.75rem,
      'weight': 500,
      'letter-spacing': normal,
      'font-family': inherit),
    'body-large': ('size': 0.875rem,
      'weight': 500,
      'line-height': 1rem,
      'letter-spacing': normal,
      'font-family': inherit),
    'body-small': ('size': 0.75rem,
      'weight': 400,
      'letter-spacing': normal,
      'line-height': 1rem,
      'font-family': inherit),
    'body-medium': ('size': 0.875rem,
      'weight': 400,
      'letter-spacing': normal,
      'font-family': inherit),
    'label-large': ('size': 0.75rem,
      'weight': 400,
      'font-family': inherit),
    'button': ('size': 0.875rem,
      'weight': 500,
      'letter-spacing': normal,
      'font-family': inherit,
      'text-transform': uppercase),
    'label-small': ('size': 0.75rem,
      'weight': 400,
      'letter-spacing': normal,
      'font-family': inherit),
    'label-medium': ('size': 0.75rem,
      'weight': 500,
      'font-family': inherit,
      'letter-spacing': .1666666667em,
      'text-transform': uppercase)));
